<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Meu Sistema de Futebol{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1><a href="/">FutStats</a></h1>
      <nav>
        <a href="/ligas/">Ligas</a> | <a href="/times/">Times</a> |
        <a href="/jogadores/">Jogadores</a> |
        <a href="/partidas/">Partidas</a> |
      </nav>
    </header>

    <main>{% block content %} {% endblock %}</main>

    <footer>
      <hr />
      <p>Feito por Lucas Henrique © {{ now|date:"Y" }}</p>
    </footer>
  </body>
</html>
